application.properties
application.yml

/bin/
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.classpath
.project
.settings

nbactions.xml
nb-configuration.xml

.vscode/
